<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Characters</h1>
    <ul>
        <% characters.forEach(character => { %>
            <li>
                <a href="/characters/<%= character.id%>"><%= character.name %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>