<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Character</title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>
<body>
    <%- include('./partials/nav') %>
    <h1>Add your favourite Friends character!</h1>
    <form action="/characters" method="POST">
        <div>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="actor">Actor:</label>
            <input type="text" name="actor" id="actor">
        </div>
        <div>
            <label for="episodes">Episodes:</label>
            <input type="text" name="episodes" id="episodes">
        </div>
        <div>
            <label for="occupation">Occupation (optional):</label>
            <input type="text" name="occupation" id="occupation">
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea type="text" name="description" id="description"></textarea>
        </div>
        <div>
            <label for="image">Image:</label>
            <input type="text" name="image" id="image">
        </div>   
        <button type=submit>Submit</button>           
    </form>
</body>
</html>